<!DOCTYPE html>
<html ng-app="chartApp">
    <head>
        <meta charset="utf-8">
        <title>Tinkering</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
        <script src="bower_components/d3/d3.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src='bower_components/angular-charts/dist/angular-charts.min.js'></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-material/angular-material.min.js"></script>
        <script src="js/chart.js"></script>
    </head>
    <body ng-controller="MainCtrl">
        <div class="container">
            <br>
            <form class="form-inline" ng-submit="show()">
              <md-select ng-model="session">
                <md-select-label>{{ session }}</md-select-label>
                <md-option ng-value="opt" ng-repeat="opt in ['begin', 'end', 'both']">{{ opt }}</md-option>
              </md-select>&nbsp;&nbsp;
                <!-- <select ng-model="session">
                    <option value="begin">Begin</option>
                    <option value="end">End</option>
                    <option value="both">Both</option>
                </select> -->
                <input type="submit" value="show" class="btn btn-lg btn-default">
            </form>
            <div ac-chart="chartType" ac-data="data" ac-config="config" id='chart' class='chart' style='width:1000px;height:300px'></div>
        </div>
    </body>
</html>
